.top
  .header-signup
    = image_tag asset_path("material/logo/logo-gray.png"), size: "200x50", alt: "test"
  .user
    .user--post
      %h2 お届け先 住所登録
    = form_with model: @profile, url: profiles_path, class:'boxes', local: true do |p|
      .boxes__field
        = p.label :'お名前(全角)'
        %span 必須
        %br/
        = p.text_field :last_name, placeholder:'例)空条', class:'boxes__field__middle-frame'
        = p.text_field :first_name, placeholder:'例)承太郎', class:'boxes__field__middle-frame'
      .boxes__field
        = p.label :'お名前カナ(全角)'
        %span 必須
        %br/
        = p.text_field :last_name_kana, placeholder:'例)クウジョウ', class:'boxes__field__middle-frame'
        = p.text_field :first_name_kana, placeholder:'例)ジョウタロウ', class:'boxes__field__middle-frame'
      .boxes__field
        = p.label :'郵便番号'
        %span 必須
        %br/
        = p.text_field :post_code, placeholder:'例)123-4567', class:'boxes__field__middle-frame'
      .boxes__field
        = p.label :'都道府県'
        %span 必須
        %br/
        -# = p.text_field :prefecture_id
        = p.collection_select :prefecture_id, Prefecture.all, :id, :name
      .boxes__field
        = p.label :'市区町村'
        %span 必須
        %br/
        = p.text_field :city, placeholder:'例)中央区', class:'boxes__field__large-frame'
      .boxes__field
        = p.label :'番地'
        %span 必須
        %br/
        = p.text_field :house_number, placeholder:'例)杜王町2-1', class:'boxes__field__large-frame'
      .boxes__field
        = p.label :'建物名'
        %span 任意
        %br/
        = p.text_field :building, placeholder:'例)owson74', class:'boxes__field__large-frame'
      .boxes__field
        = p.label :'電話番号'
        %span 任意
        %br/
        = p.text_field :tell_number, placeholder:'例)012-3456-7890', class:'boxes__field__large-frame'
      .action
        = p.submit "登録する", class:'actions__btn'
= render 'signup/footer_signup'




