.content
  %header
    = render 'my-page/my-page-header'
  .main-content
    .right-content
      .right-content-mail-password
        %h2.right-content-mail-password__head
          メール/パスワード
        .right-content-mail-password-container 
          .right-content-mail-password-container-form
            .right-content-mail-password-container-form-group
              %label.right-content-mail-password-container-form-group__mail メールアドレス
              %input.right-content-mail-password-container-form-group__input{type:"email", placeholder:"PC・携帯どちらでも可"}
              %p.right-content-mail-password-container-form-group__form-text メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
            .right-content-mail-password-container-form-group
              %label.right-content-mail-password-container-form-group__current_password 現在のパスワード
              %input.right-content-mail-password-container-form-group__input{type:"password"}
            .right-content-mail-password-container-form-group
              %label.right-content-mail-password-container-form-group__password 新しいパスワード
              %input.right-content-mail-password-container-form-group__input{type:"password", placeholder:"7文字以上の半角英数字"}
              %p.right-content-mail-password-container-form-group__form-text ※英字と数字の両方を含めて設定してください
            .right-content-mail-password-container-form-group
              %label.right-content-mail-password-container-form-group__new-password 新しいパスワード確認
              %input.right-content-mail-password-container-form-group__input{type:"password", placeholder:"新しいパスワードを再入力"}
            %button.right-content-mail-password-container-form__btn{type:"submit"} 変更する
    .left-content
      .my-page-bar
        %ul.my-page-bar-list 
          %li
            = link_to "#" do
              マイページ
          %li
            = link_to "#" do
              出品する
          %li
            = link_to "#" do
              お問い合わせ
        %h3.my-page-bar-head
          設定
        %ul.my-page-bar-list
          %li
            = link_to "#"  do
              プロフィール
          %li
            = link_to "#" do
              発送元・お届け先住所変更
          %li
            = link_to new_credit_card_path do
              支払い方法
          %li
            = link_to "#" do
              メール/パスワード
          %li
            = link_to "#" do
              本人情報 
          %li
            = link_to "#" do
              電話番号の確認
          %li
            = link_to "#" do
              ログアウト

  
= render 'items/footer'