= render "items/header"
.credit-main
  .credit-main__product-continer
    %h2.credit-main__product-continer__title
      クレジットカード情報入力
  = form_tag(credit_cards_path, method: :post, id: "charge-form", class: "details", name: "inputForm") do  
    .credit-main__product-continer__inner
      %ul.credit-main__product-continer__inner__head-line
        %li.credit-main__product-continer__inner__head-line__card-number
          カード番号
          %span.required
            必須
      = text_field_tag "number", "", class: "input__default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
      %ul.credit-main__product-continer__inner__credit-icon-box
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_visa.png'), size: '45x28'
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_master.png'), size: '45x28'
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_saison.png'), size: '45x28'
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_jcb.png'), size: '45x28'
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_american.png'), size: '45x28'
        %li.credit-main__product-continer__inner__credit-icon-box__icon
          = image_tag asset_path('credit-icon/credit-card_diners.png'), size: '45x28'
      %ul.credit-main__product-continer__inner__head-line
        %li.credit-main__product-continer__inner__head-line__card-number
          有効期限
          %span.required
            必須
      .credit-main__product-continer__inner__select
        %select#payment_card_month.credit-main__product-continer__inner__select__box{name: "payment_card_month", type: "text"}
          %option 01
          %option{value: "0"} 02
          %option{value: "1"} 03
          %option{value: "2"} 04
          %option{value: "3"} 05
          %option{value: "4"} 06
          %option{value: "5"} 07
          %option{value: "6"} 08
          %option{value: "7"} 09
          %option{value: "8"} 10
          %option{value: "9"} 11
          %option{value: "10"} 12
        .credit-main__product-continer__inner__select__icon
          = icon("fas", "chevron-down")
          %span.credit-day
            月
        %select#payment_card_year.credit-main__product-continer__inner__select__box{name: "payment_card_year", type: "text"}
          %option 20
          %option{value: "2021"} 21
          %option{value: "2022"} 22
          %option{value: "2023"} 23
          %option{value: "2024"} 24
          %option{value: "2025"} 25
          %option{value: "2026"} 26
          %option{value: "2027"} 27
          %option{value: "2028"} 28
          %option{value: "2029"} 29
          %option{value: "2030"} 30
        .credit-main__product-continer__inner__select__icon
          = icon("fas", "chevron-down")
          %span.credit-day
            年
      %ul.credit-main__product-continer__inner__head-line
        %li.credit-main__product-continer__inner__head-line__card-number
          セキュリテイコード
          %span.required
            必須
      = text_field_tag  "payment_card_cvc", "", type: 'text', class: 'securitycode__cardsecurity__form', id: "payment_card_cvc", maxlength: "4", placeholder: 'カード背面3~4桁の番号'
      .credit-main__product-continer__inner__question
        ?カード裏面の番号とは？
      .credit-main__product-continer__inner__btn
        = submit_tag "追加する", class: "add__btn", id: "payment_card_submit-button"
= render "items/exisibition"
= render "items/footer"



