.content
  %h1.content__head
    登録クレジットカード情報
  .content__main
    .content__main__text
      クレジットカード一覧
    .content__main__form
      .content__main__form__credit
        .content__main__form__credit__image
          = image_tag asset_path('credit-icon/credit-card_visa.png'), size: '45x28'
        .content__main__form__credit__box
          .content__main__form__credit__box__number
            = "**** **** **** " + @customer_card.last4
          .content__main__form__credit__box__deadline
            有効期限　05/20
          .expiration_date__info
            = @exp_month + " / " + @exp_year  #showメソッドで定義した有効期限の年と月を取得
      .content__main__form__delete
        = link_to "#", method: :delete, class: "content__main__form__delete__btn" do 
          削除する
    .content__main__bottom-text
      = link_to '支払い方法について'

