%header.header-icon-only
  .header-icon-only__title
    -# = link_to root_path
    = image_tag asset_path('material/logo/logo.png'), size: '185x49'
.confirmation
  .confirmation__main
    %section.confirmation__main__product-continer
      %h2.confirmation__main__product-continer__title
        購入内容の確認
      .confirmation__main__product-continer__buy-item
        .confirmation__main__product-continer__buy-item__inner
          .confirmation__main__product-continer__buy-item__inner__box
            .confirmation__main__product-continer__buy-item__inner__box__item-image
              - @item.images.each do |image|
                = image_tag image.image.to_s, size: "100x100", class: "png"
            .confirmation__main__product-continer__buy-item__inner__box__item-detail
              .confirmation__main__product-continer__buy-item__inner__box__item-detail__name
              
              %span.confirmation__main__product-continer__buy-item__inner__box__item-detail__price
                = "¥" + @item.price_id.to_s
                %span.confirmation__main__product-continer__buy-item__inner__box__item-detail__price__included
                  （税込）送料込み
      .confirmation__main__product-continer__payment
        .confirmation__main__product-continer__payment__inner
          -# form_withまたはform_forで実装
          %ul.confirmation__main__product-continer__payment__inner__price-table
            %li.confirmation__main__product-continer__payment__inner__price-table__label
              支払い金額
            %li.confirmation__main__product-continer__payment__inner__price-table__price
              %span.confirmation__main__product-continer__payment__inner__price-table__label__price__decoration
                = "¥" + @item.price_id.to_s
          %ul.confirmation__main__product-continer__payment__inner__point-table
            %li.confirmation__main__product-continer__payment__inner__point-table__point-use
              .confirmation__main__product-continer__payment__inner__point-table__point-use__check-box
                □
                -# のちにアイコンに置き換え
              .confirmation__main__product-continer__payment__inner__point-table__point-use__content
                ポイントを使用 (所持ポイント: P0)
      .confirmation__main__product-continer__payment-method
        .confirmation__main__product-continer__payment-method__inner
          支払い方法
          .confirmation__main__product-continer__payment-method__inner__link
            = link_to new_credit_card_path do
              変更する
            %p.confirmation__main__product-continer__payment-method__inner__link__icon
              %span.confirmation__main__product-continer__payment-method__inner__link__icon__registration
      .confirmation__main__product-continer__buy-user-text
        .purchase__confirmation__main__payment__card__info__number
          - if @default_card_information.blank?
            %br 
          - else
            = "**** **** **** " + @customer_card.last4
          .purchase__confirmation__main__payment__card__info__monthyear
            - exp_month =@customer_card.to_s
            - exp_year = @customer_card.to_s.slice(2,3)
          .confirmation__main__product-continer__buy-user-text__info-text__btn
            = link_to  pay_item_item_buys_path(item_id: @item.id), method: :post, class: "btn" do
              購入する
= render 'items/footer'            