.footer
  %ul.contents
    %li.content
      %h2.content__header
        FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
          = link_to "#" do
            プライバシーポリシー
          = link_to "#" do
            FURIMA利用規約
          = link_to "#" do
            ポイントに関する特約
    %li.content
      %h2.content__header
        FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
          = link_to "#" do
            ブランド一覧
    %li.content
      %h2.content__header
        ヘルプ&ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
          = link_to "#" do
            お知らせ
  .footer-logo
    = link_to ""
    = image_tag '/assets/material/logo/logo-white.png'
  %p
    © FURIMA