%header.header
  .header__header-inner
    .header__header-inner__main-header
      %h1.header__header-inner__main-header__icon
        = link_to root_path do
          = image_tag 'material/logo/logo.png', size: '140x40'
      .header__header-inner__main-header__search-box
        .header__header-inner__main-header__search-box__text
          %input.header__header-inner__main-header__search-box__text__input{type: "text", placeholder: "キーワードから探す"}
          %input.header__header-inner__main-header__search-box__text__btn{type: "submit", value: ""}
            .header__header-inner__main-header__search-box__text__btn__search-btn
              = image_tag 'material/icon/icon-search 1.png', size: '20x20'
    .header__header-inner__category
      %ul.header__header-inner__category__left-box
        %li.header__header-inner__category__left-box__right-item
          = link_to "ブランド"
      %ul.header__header-inner__category__right-box
        %li.header__header-inner__category__right-box__left-item
        - if user_signed_in?
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
          = link_to 'マイページ', new_mypage_path(current_user)
        - else
          = link_to "ログイン", new_user_session_path
          = link_to new_user_registration_path do
            新規会員登録