= render "header"
.main
  .main__show-main
    .main__show-main__content-right
      .main__show-main__content-right__top-content
        .main__show-main__content-right__top-content__item-box
          %h2.main__show-main__content-right__top-content__item-box__name product3
          .main__show-main__content-right__top-content__item-box__body
            %ul.main_image
              %li.main_photo
                = image_tag asset_path('material/show/main.png'), size: "560x346"
                %ul.show_index
                  %li.show_index__content
                    = image_tag asset_path('material/show/index1.png'), size: "130x87", class: "png"
                  %li.show_index__content
                    = image_tag asset_path('material/show/index2.png'), size: "130x87", class: "png"
                  %li.show_index__content
                    = image_tag asset_path('material/show/index3.png'), size: "130x87", class: "png"
          .main__show-main__content-right__top-content__item-box__price
            %span.font-size ¥
            = @item.price_id
            .main__show-main__content-right__top-content__item-box__price__detail
              %span.tax （税込）
              %span.derivery-fee 送料込み
          .main__show-main__content-right__top-content__item-box__item-detail
            = @item.explanation
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td yurie
                  -# = current_user.name
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#" do
                      %span ベビー・キッズ
                    %br  
                    = link_to "#" do
                      %span ベビー服（男女兼用）　~95cm
                    %br
                    = link_to "#" do
                      %span アウター
                -# %tr
                -#   %th ブランド
                -#   %td 
                %tr
                  %th 商品のサイズ
                  %td
                    = @item.size_id
                %tr
                  %th 商品の状態
                  %td 
                    = @item.condition_id
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.derivery_fee_id
                %tr
                  %th 発送元の地域
                  %td 
                    = @item.shipping_area_id
                %tr
                  %th 発送日の目安
                  %td 
                    = @item.days_untill_shipping_id
      %ul.main__show-main__content-right__top-content__links
        %li
          = link_to "#" do
            %i.fa.angele-left
            .item-link < 前の商品
        %li
          = link_to "#" do
            .item-link 後ろの商品 >
            %i.fa.angele-right
      .related-items
        = link_to "#" do
          %span ベビーキッズをもっと見る
        .product-lists
          .related-items__destroy-btn
          -# - if user_signed_in? && current_user.id == @item.user_id
          = link_to '出品の削除', item_path(@item), method: :delete
= render "footer"