= render "header"
.main
  .main__show-main
    .main__show-main__content-right
      .main__show-main__content-right__top-content
        .main__show-main__content-right__top-content__item-box
          %h2.main__show-main__content-right__top-content__item-box__name product3
          .main__show-main__content-right__top-content__item-box__body
            %ul.main_image
              %li.main_photo
                = image_tag 'material/show/main.png', size: "560x346"
                %ul.show_index
                  %li.show_index__content
                    = image_tag 'material/show/index1.png', size: "130x87", class: "png"
                  %li.show_index__content
                    = image_tag 'material/show/index2.png', size: "130x87", class: "png"
                  %li.show_index__content
                    = image_tag 'material/show/index3.png', size: "130x87", class: "png"

          .main__show-main__content-right__top-content__item-box__price
            %span.font-size ¥30000
            .main__show-main__content-right__top-content__item-box__price__detail
              %span.tax （税込）
              %span.derivery-fee 送料込み
          .main__show-main__content-right__top-content__item-box__item-detail
            商品説明、商品説明、商品説明、商品説明、商品説明、商品説明、商品説明、商品説明、商品説明、
            商品説明、商品説明、商品説明、商品説明、商品説明、商品説明
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td yurie
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#" do
                      %span ベビー・キッズ
                    %br  
                    = link_to "#" do
                      %span ベビー服（男女兼用）　~95cm
                    %br
                    = link_to "#" do
                      %span アウター
                %tr
                  %th ブランド
                  %td 
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    = link_to "#" do
                      岩手県
                %tr
                  %th 発送日の目安
                  %td 4~7日で発送
      %ul.main__show-main__content-right__top-content__links
        %li
          = link_to "#" do
            %i.fa.angele-left
            .item-link < 前の商品
        %li
          = link_to "#" do
            .item-link 後ろの商品 >
            %i.fa.angele-right
      .related-items
        = link_to "#" do
          %span ベビーキッズをもっと見る
        .product-lists
-# = render "footer"