.content
  %header
    = render 'mypage/my-page-header'
  .main-content
    .right-content
      .right-content__profile
        %h2.right-content__profile__head
          プロフィール
        .right-content__profile__top-box
          %input.right-content__profile__top-box__name{type:"text", value:"太郎"}
        .right-content__profile__bottom-box
          %textarea.right-content__profile__bottom-box__text{placeholder:"例）　こんにちは☆ご覧いただいありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
          %button.right-content__profile__bottom-box__btn{type:"submit"}
            変更する
    .left-content
      .my-page-bar
        %ul.my-page-bar__ul
          %li.my-page-bar__ul__list
            = link_to new_mypage_path do
              マイページ
          %li.my-page-bar__ul__list
            = link_to new_item_path do
              出品する
          %li.my-page-bar__ul__list
            = link_to new_inquiry_path do
              お問い合わせ
        %h3.my-page-bar__head
          設定
        %ul.my-page-bar__ul
          %li.my-page-bar__ul__list
            = link_to new_profile_path do
              プロフィール
          %li.my-page-bar__ul__list
            = link_to new_address_path do
              発送元・お届け先住所変更
          %li.my-page-bar__ul__list
            = link_to new_credit_card_path do
              支払い方法
          %li.my-page-bar__ul__list
            = link_to new_mail_password_path do
              メール/パスワード
          %li.my-page-bar__ul__list
            = link_to new_user_info_path do
              本人情報 
          %li.my-page-bar__ul__list
            = link_to "#" do
              電話番号の確認
          %li.my-page-bar__ul__list
            = link_to new_logout_path do
              ログアウト

  
= render 'items/footer'